.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: auto;
  width: 80vw;
}

.item {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56%;
}

.item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
